footer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(17, 17, 16, 1);
}

.footer-container {
  border-radius: 10px 10px 0 0;
  padding: 60px 50px 0;
  width: 100%;
  max-width: 1180px;
}

.footer-menu-items {
  display: flex;
  gap: 200px;
  color: var(--white);
  font-family: var(--text);
}

.footer-container ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-container ul h3 {
  font-size: 20px;
}

.footer-container ul a {
  color: var(--white);
  text-decoration: none;
}

.footer-container ul li {
  font-size: 18px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-container ul li:hover {
  opacity: 1;
}

.footer-top {
  display: flex;
}

.company-details {
  display: flex;
  gap: 30px;
  color: var(--white);
  font-family: var(--text);
  opacity: 0.5;
}

.footer-bottom {
  margin-top: 60px;
  border-top: 1px solid var(--white);
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom .socials {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.footer-bottom .socials img {
  cursor: pointer;
}

.footer-bottom .socials svg {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.footer-bottom .socials svg:hover {
  opacity: 1;
}

.logo {
  width: 63px;
  margin-right: auto;
  fill: transparent;
  animation: fill 0.3s ease-out forwards;
  animation-delay: 0.5s;
}

.logo:hover {
  animation: fill 0.3s ease-out forwards;
  animation-delay: 0.5s;
}

.logo:hover .path {
  animation: dash 0.6s ease-out forwards;
}

.path {
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
  animation: dash 0.6s ease-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: var(--white);
  }
}

@media only screen and (max-width: 1200px) {
  .logo {
    width: 50px;
  }
  .footer-menu-items {
    gap: 50px;
    font-size: 16px;
  }
  .footer-container {
    /* max-width: 700px; */
  }
  .footer-container ul h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .footer-container {
    padding: 60px 15px 0;
  }

  .footer-menu-items {
    margin-top: 60px;
    gap: 40px;
    font-size: 20px;
  }

  .footer-container ul h3 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .footer-container ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
  }

  .company-details {
    gap: 10px;
    flex-direction: column;
  }

  .footer-bottom {
    margin-top: 60px;
    border-top: 1px solid var(--white);
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer-bottom .socials {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
