.landing-section {
  position: relative;
  padding: 140px 90px;
}

h1 {
  color: var(--white);
  font-family: "Abril Fatface", serif;
  font-famly: "montserrat";
  font-size: 70px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2px;
}

.landing-section .description {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  max-width: 900px;
  text-align: center;
  color: var(--lightWhite);
  margin: 30px auto;
}

.landing-section .button-wrapper {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  h1 {
    margin: 140px 0 30px;
    max-width: 700px;
    text-align: center;
    margin: 140px auto 30px;
    font-size: 30px;
  }

  .landing-section .description {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    max-width: 900px;
    text-align: center;
    margin: auto;
  }

  .landing-section .button-wrapper {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    margin: 140px 0 30px;
    max-width: 700px;
    text-align: center;
    margin: 140px auto 30px;
    font-size: 24px;
  }

  .landing-section .description {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    max-width: 470px;
    text-align: center;
    margin: auto;
  }

  .landing-section .button-wrapper {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
